<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    div.jumbotron{
        padding: 2%;
        text-align: center;
        background-color: cadetblue;
    }
    div.container
    {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
    }
</style>
<body>
    <div class="jumbotron">
    
        <p>YOUR TEXT IS <mark>ANALYZED</mark></p>
        <p>Total PUNCTUATIONS removed : <mark>{{counted}}</mark>
        </p> 
        <br>

    </div>
    <div class="container">
        <br>
        <p>{{chars}}</p>
    </div>
</body>
</html>